@{
	ViewData["Title"] = "Account";
}

<table class="table w-50 m-auto mt-5">
	<tr>
		<td>Имя</td>
		<td class="text-center">@ViewData["Name"]</td>
	</tr>
	<tr>
		<td>Email</td>
		<td class="text-center">@ViewData["Email"]</td>
	</tr>
	<tr>
		<td>Полномочия</td>
		<td class="text-center">@ViewData["Role"]</td>
	</tr>
</table>